<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>

<body>
    <h2>Welcome to Homepage</h2>
    <h4>This is an example API for NodeJS & Redis</h4>

    <h4>Currently we have data of this Cities:- pune, noida, kolkata</h4>

    <h4>the API end point is http://localhost:3000/citi/name_of_the_citi</h4>
</body>

</html>